#okvir
{
    background-color: #ffe6e6;
}

#glavniSadrzaj {
    background-color: #ffcccc;
}

form {
    background-color: #ffb3b3;
}

input[type=submit] {
    margin-left: 180px;
}

form ul {
    list-style-type: none;
    background-color: white;
    width: 100px;
    margin:auto;
}

@media only screen and (max-width: 600px) {

#naslov {
    top: 90px;
    font-size: 20px;
}
nav {
    bottom: 125px;
}
}
